.herobanner{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .herobanner_content{
        text-align: center;
        color: #000000;
        h1{
            font-size: 4rem;
            font-weight: 800;
            margin-bottom: 1rem;
        }
        p{
            font-size: 1.5rem;
            font-weight: 500;
            margin-bottom: 1rem;
        }
        .herobanner_btn{
            padding: 1rem 2rem;
            font-size: 1.2rem;
            margin: 0 1rem;
            border: none;
            border-radius: 100px;
            cursor: pointer;
            transition: all 0.3s ease;
            background-color: #f1356d;
            &:hover{
                background: linear-gradient(90deg, #f1356d 0%, #ffa200 100%);
                transform: scale(1.1);
            }
        }
    }

}